<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SquaredInfinity.Foundation.DotNet45" publicKeyToken="b2eb7b1f23e71d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.7.21" newVersion="1.1.7.21" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SquaredInfinity.Foundation.Diagnostics.Infrastructure.DotNet45" publicKeyToken="b2eb7b1f23e71d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.6.1" newVersion="1.1.6.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SquaredInfinity.Foundation.Serialization.DotNet45" publicKeyToken="b2eb7b1f23e71d09" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.7.13" newVersion="1.1.7.13" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>