################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sources/VS14/Foundation.vs14/bin/Debug
/Sources/VS14/Foundation.vs14/obj/Debug
/Sources/VS14/VscPackage.vs14/bin/Debug
/Sources/VS14/VscPackage.vs14/obj/Debug
/Sources/VS14/VscPackage.vs14/VscPackage.vs14.csproj.user
/Sources/VS14/VscPackage.vs14/bin/Release
/Sources/VS14/VscPackage.vsix.vs14/obj
/Sources/VS14/VscPackage.vsix.vs14/bin
/Sources/VS14/Presentation.vs14/obj
/Sources/VS14/Presentation.vs14/bin
/Sources/VS14/Integration/TeamFoundationServer.vs14/TeamFoundation.vs14/obj
/Sources/VS14/Integration/TeamFoundationServer.vs14/TeamFoundation.vs14/bin
/Sources/VS14/Integration/Mercurial.vs14/obj
/Sources/VS14/Integration/Mercurial.vs14/bin
/Sources/VS14/Integration/Git.vs14/obj
/Sources/VS14/Integration/Git.vs14/bin
/Sources/VS14/Foundation.vs14/obj/Release
/Sources/VS14/Foundation.vs14/bin/Release
/Sources/VS14/Features.vs14/obj
/Sources/VS14/Features.vs14/bin
*.db
/Sources/VS14/Features.Infrastructure.vs14/bin
/Sources/VS14/VscPackage.vs14/obj/Release
/Sources/VS14/Features.Infrastructure.vs14/obj
/packages
