<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.0.23205" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.0.23205" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.0.23205" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Text.UI" version="14.0.23205" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Text.UI.Wpf" version="14.0.23205" targetFramework="net452" />
  <package id="SquaredInfinity.Foundation" version="1.1.7-beta021" targetFramework="net452" />
</packages>