<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SquaredInfinity.Foundation" version="1.1.7-beta028" targetFramework="net452" />
  <package id="SquaredInfinity.Foundation.Presentation.Xaml" version="1.1.7-beta028" targetFramework="net452" />
  <package id="SquaredInfinity.Foundation.Presentation.Xaml.Styles.Modern" version="1.1.5-beta017" targetFramework="net452" />
</packages>